<%= javascript_include_tag :defaults, "nested_form" %>

<div class="row-fluid animated fadeInDown space-bottom">
  <div class="span12">
    <%= nested_form_for(@invoice) do |f| %>
      <% if @invoice.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

          <ul>
          <% @invoice.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="controls">
        <input type="text" class="span6" data-provide="typeahead" data-items="4" data-source='<%= @client_names %>', placeholder="Start typing to choose a client" id="invoice_client_name" name="invoice[client_name]" autofocus="autofocus">
        <%= f.text_field :title, :placeholder => 'Name this invoice (for your reference)', :class => 'span6'  %>
        <%= f.text_area :description, :placeholder => 'Write out a description of the job for the client to read and understand upon receipt of this invoice.', :class => 'span12', :rows => 1 %>
        <%= f.fields_for :items do |p| %>
            <%= p.date_select( :date, {:use_short_month => 1, :order => [:month, :day, :year]}, {:class => " span1 gt-select-auto"}) %>
            <%= p.text_field :name, :placeholder => 'Title', :class => "span3" %>
            <%= p.text_field :description, :placeholder => 'Description of work/item', :class => 'span4' %>
            <div class="input-prepend" style="display:inline;"><span class="add-on">$</span><%= p.text_field :rate, :placeholder => 'Rate', :id => 'prependedInput', :class => 'span1' %></div>
            <span class="hidden-phone">x</span>
            <%= p.text_field :count, :placeholder => 'Quantity', :class => 'span1' %>
            <%= p.link_to_remove "<i class='icon-remove-sign icon-large text-error'></i>".html_safe %>
        <% end %>
        <div class="clearfix"></div>
        <div class="add-item"><%= f.link_to_add "+ Add a line-item", :items, :class => 'text-success' %></div>
        <div class="invoice-extras">
          <div class="input-prepend" style="display:inline;"><span class="add-on">$</span><%= f.text_field :travel, :placeholder => 'Travel', :id => 'prependedInput', :class => 'span2' %></div>
          <div class="input-prepend" style="display:inline;"><span class="add-on">$</span><%= f.text_field :materials, :placeholder => 'Materials', :id => 'prependedInput', :class => 'span2' %></div>
          <div class="input-prepend" style="display:inline;"><span class="add-on">$</span><%= f.text_field :previous_paid, :placeholder => 'Previously Paid', :id => 'prependedInput', :class => 'span2' %></div>
          <div class="input-prepend" style="display:inline;"><span class="add-on">$</span><%= f.text_field :other, :placeholder => 'Other', :id => 'prependedInput', :class => 'span2' %></div>
          <%= f.label :taxed, "Apply tax?", :class=>"checkbox inline" %>
          <%= f.check_box :taxed, :inline_label => 'Apply tax?', :label => false, :class => 'span1' %>
          <%= f.label :paid, "Paid up?", :class=>"checkbox inline" %>
          <%= f.check_box :paid, :inline_label => 'Paid?', :label => false, :class => 'span1' %>
        </div>

        <div class="actions space-top">
          <div class="center"><%= f.submit "Enter", :class => "btn btn-primary span4" %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
