<%= javascript_include_tag :defaults, "nested_form" %>
  <script>
  $(document).on('nested:fieldAdded', function(event){
    // this field was just inserted into your form
    var field = event.field; 
    // it's a jQuery object already! Now you can find date input
    var dateField = field.find('#datepicker');
    // and activate datepicker on it
    dateField.datepicker();
  })
  </script>
<div class="row-fluid animated fadeInDown space-bottom">
  <div class="span12">
    <%= nested_form_for(@invoice) do |f| %>
      <% if @invoice.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

          <ul>
          <% @invoice.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="controls center">
        <input type="text" class="span6" data-provide="typeahead" data-items="4" data-source='<%= @client_names %>', placeholder="Start typing to choose a client" id="invoice_client_name" name="invoice[client_name]" autofocus="autofocus">
        <%= f.text_field :title, :placeholder => 'Name this invoice (for your reference)', :class => 'span6'  %>
        <%= f.text_area :description, :placeholder => 'Write out a description of the job for the client to read and understand upon receipt of this invoice.', :class => 'span12', :rows => 1 %>
        <%= f.fields_for :items, :html => {:multipart => true} do |p| %>
          <%= p.text_field :date, :placeholder => 'choose date', :id => "datepicker" %>
            <%= p.date_select( :date, {:use_short_month => 1, :order => [:month, :day, :year]}, {:class => " span1 gt-select-auto"}) %>
            <%= p.text_field :name, :placeholder => 'Title', :class => "span2" %>
            <%= p.text_field :description, :placeholder => 'Description of work/item', :class => 'span3' %>
            <div class="input-prepend" style="display:inline;"><span class="add-on">$</span><%= p.number_field :rate, :placeholder => 'Rate', :id => 'prependedInput', :class => 'span2' %></div>
            <%= p.number_field :count, :placeholder => 'Quantity', :class => 'span2' %>
            <%= p.link_to_remove "<span class='remove_nested_fields_photo text-error'><small>Remove</small></span>".html_safe %>
        <% end %>
        <div class="clearfix"></div>
        <p><%= f.link_to_add "Add a line-item", :items, :class => 'space-bottom text-success' %></p>
        <div class="actions">
          <div class="center"><%= f.submit "Enter", :class => "btn btn-primary span4" %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
