<div class="row-fluid center animated fadeInDown delay1 space-bottom">
  <div class="span8 offset2">
    <h2><a href="<%= invoices_path %>"><img src='/assets/invoice.png' style='margin-top:-10px;width:100px;height:100px;'/></a></h2>
    <h1><%= @invoice.title %></h1>
  </div>
</div>

<%= render 'form' %>
<p class="pull-right">
	<%= link_to 'Preview', @invoice, :class => 'text-success' %> | <%= link_to 'Delete', @invoice, method: :delete, data: { confirm: 'Are you sure?' }, :class => "text-error" %>
</p>
