<div class="row-fluid center animated fadeInDown delay1">
  <div class="span8 offset2">
    <h2><img src='/assets/invoice.png' style='margin-top:-10px;width:100px;height:100px;'/></h2>
    <h1>Your Invoices</h1>
    <p><%= link_to 'Ready to get paid? Create a new invoice.', new_invoice_path, :class => "btn btn-primary" %></p>
  </div>
</div>
<div class="row-fluid space-bottom animated fadeInDown">
  <% @invoices.each do |i| %>
    <a href="<%= invoice_path(i) %>">
    <div class="span8 offset2">
      <h3><%= i.title %> <small class="pull-right hidden-phone" style="margin-top:15px;"><%= l i.updated_at, :format => :short_date %></small></h3>
    </div>
  </a>
  <% end %>
  <div class="span12 center">
    <%= paginate @invoices %>
  </div>
</div>
