<!DOCTYPE html>
<html>

  <head>

    <title>Roninvoice | Freelance with intelligence and style</title>
    <meta name="description" content="Roninvoice is the best way to estimate freelance work and get paid for it." />
    <meta property="og:title" content="Roninvoice"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://roninvoice.com/assets/user.png"/>
    <meta property="og:url" content="http://roninvoice.com"/>
    <meta property="og:description" content="Roninvoice is the best way to estimate freelance work and get paid for it."/>
    <meta name="twitter:creator" content="@jbckmn" />
    <meta name="twitter:site" content="@roninvoice" />
    <meta name="twitter:url" content="http://roninvoice.com" />
    <meta name="twitter:title" content="Roninvoice" />
    <meta name="twitter:description" content="Roninvoice is the best way to estimate freelance work and get paid for it." />
    <meta name="twitter:image" content="http://roninvoice.com/assets/user.png" />
    <%= favicon_link_tag "/favicon.png", :type => "image/png" %>
    <link href='http://fonts.googleapis.com/css?family=Lato|Asul' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= wicked_pdf_stylesheet_link_tag "application" %>
    <style>
      body {background-color: #eee;color:#222;padding-top: 0px;margin-top: 20px;}
    </style>

    <%= csrf_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= yield :head %>

  </head>

  <body>

    <div class="container">

      <% if @user == current_user %>
        <div class="row-fluid">
          <div class="span12 center">
            <p class="lead"><a href="mailto:<%= @client.email %>?subject=Invoice+from+<%= @user.name %>&body=Hello!%0AYou+have+an+invoice+from+<%= @user.name %>,+with+payment+due+<%= l @invoice.updated_at+21.days, :format => :short_date %>.%0AYou+can+view+it+and+pay+here:+<%= invoice_url(@invoice) %>" target="_blank" class="text-success">Send Invoice</a> | <%= link_to 'Edit', edit_invoice_path(@invoice), :class => 'text-warning' %> | <%= link_to 'Delete', @client, method: :delete, data: { confirm: 'Are you sure?' }, :class => "text-error" %></p>
          </div>
        </div>
      <% end %>
      <div class="row-fluid">
        <div class="span3">
          <p>Invoice #<%= @invoice.number %></p>
        </div>
        <div class="span3">
          <p><small>From</small> <strong><%= @user.name %></strong><%= ', '+@user.company_name if @user.company_name.present? %></p>
        </div>
        <div class="span3">
          <p><small>Date</small> <strong><%= l @invoice.updated_at, :format => :short_date %></strong></p>
        </div>
        <div class="span3">
          <p><small>Date Due</small> <strong><%= l @invoice.updated_at+21.days, :format => :short_date %></strong></p>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span6">
          <h4><%= @client.company_name.present? ? @client.company_name : @client.name %></h4>
          <address>
          <% unless @client.address.blank? %>
            <%= @client.address %><br>
            <%= @client.city %>, <%= @client.state %> <%= @client.zip %><br>
          <% end %>
          <%= 'Tel: '+@client.phone if @client.phone.present? %><br>
          <%= 'Office: '+@client.office_phone if @client.office_phone.present? %><br>
          <%= link_to @client.website, @client.website %>
          </address>
          <p><small>Attn:</small> <%= @client.name %><%= ', '+@client.title if @client.title.present? %></p>
          <p></p>
        </div>
        <div class="span6">
          <p><small>Description:</small> <%= @invoice.description %></p>
        </div>
        <div class="row-fluid">
          <div class="span6 offset3"><hr></div>
        </div>
      </div>
      <div class="row-fluid hidden-phone">
        <div class="span2"><h4>Date</h4></div>
        <div class="span3"><h4>Title</h4></div>
        <div class="span3"><h4>Description</h4></div>
        <div class="span1"><h4>Rate</h4></div>
        <div class="span1"><h4>Count</h4></div>
      </div>
      <% @invoice.items.order("date ASC").each do |it| %>
        <div class="row-fluid">
          <div class="span2">
            <%= l it.date, :format => :short_date %>
          </div>
          <div class="span3">
            <%= it.name %>
          </div>
          <div class="span3">
            <%= it.description %>
          </div>
          <div class="span1">
            $<%= it.rate %>
          </div>
          <div class="span1">
            <%= it.count %>
          </div>
        </div>
        <div class="row-fluid visible-phone">
          <div class="span6 offset6">
            <hr>
          </div>
        </div>
      <% end %>
      <div class="row-fluid space-top">
        <div class="span3 offset8">
          <p>Materials: <span class="pull-right"><%= '$'+@invoice.materials  if @invoice.materials.present? %></span></p>
          <p>Travel: <span class="pull-right"><%= '$'+@invoice.travel  if @invoice.travel.present? %></span></p>
          <p>Other: <span class="pull-right"><%= '$'+@invoice.other  if @invoice.other.present? %></span></p>
          <p>Previous Paid: <span class="pull-right"><%= '- $'+@invoice.previous_paid  if @invoice.previous_paid.present? %></span></p>
          <p class="lead">Total: <span class="pull-right">$<%= @total %></span></p>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span6 offset6" style="text-align:right;">
          <h4><%= @user.name %> | <%= @user.company_name %></h4>
          <address>
          <% unless @user.address.blank? %>
            <%= @user.address %><br>
            <%= @user.city %>, <%= @user.state %> <%= @user.zip %><br>
          <% end %>
          <%= 'Tel: '+@user.phone if @user.phone.present? %><br>
          <%= 'Office: '+@user.office_phone if @user.office_phone.present? %><br>
          <%= link_to @user.website, @user.website %>
          </address>
        </div>
      </div>

      <footer>
        <div class="row-fluid space-top">
          <div class="span12 center">
            <p>Made with <%= link_to 'Roninvoice', root_url, :class => 'brand' %></p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>

