
<p>
  <b>Rand:</b>
  <%= @invoice.rand %>
</p>
<p>
  <b>Client:</b>
  <%= @client.name %>
</p>
<p>
  <b>Title:</b>
  <%= @invoice.title %>
</p>

<p>
  <b>Description:</b>
  <%= @invoice.description %>
</p>

<p>
  <b>Number:</b>
  <%= @invoice.number %>
</p>


<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
