<div class="row-fluid center animated fadeInDown delay1">
  <div class="span8 offset2">
    <h2><a href="<%= clients_path %>"><img src='/assets/client.png' style='margin-top:-10px;width:100px;height:100px;'/></a></h2>
    
  </div>
</div>
<div class="row-fluid center space-bottom animated fadeInDown">
  <a href="<%= new_client_path %>">
    <div class="span6 text-success">
      <h3>+ New Client</h3>
    </div>
  </a>
  <% @clients.each do |client| %>
    <a href="<%= client_path(client) %>">
      <div class="span6">
        <h3><%= client.name %><%= !(client.company_name == '') ? (', '+client.company_name) : ('') %></h3>
      </div>
    </a>
  <% end %>
</div>


