<% if !current_user %>
	<%= render "welcome" %>
<% else %>
	<div class="row-fluid animated fadeInDown delay3 center">
		<div class="span6 space-top">
			<% if false %><h1 class="center">Thanks for joining us, <%= current_user.name ? (link_to current_user.name, edit_user_path(current_user)) : (link_to current_user.email, edit_user_path(current_user)) %>.</h1>
			<% end %>
			<h2 class="center"><%= link_to "<img src='/assets/client.png' style='margin-top:-10px;width:75px;height:75px;'/> Clients".html_safe, clients_path %></h2>
			<h2 class="center"><%= link_to "<img src='/assets/invoice.png' style='margin-top:-10px;width:75px;height:75px;'/> Invoicing".html_safe, invoices_path %></h2>
		</div>
		<div class="span6 center space-top">
			<%= current_user.image ? image_tag(current_user.image, :size => '40x40', :class => "img-circle") : "<img src='/assets/user.png'style='height:60px; width:60px;'/>".html_safe %>
			<h3><%= current_user.name ? (link_to current_user.name, edit_user_path(current_user)) : (link_to current_user.email, edit_user_path(current_user)) %></h3>
			<h4><%= current_user.about ? current_user.about : '' %></h4>
		</div>
	</div>
	<div class="row-fluid center">
		<div class="span12">
			<img style="margin-top:-12px;width:250px;height:250px;" src='/assets/mount.png' class="animated fadeInUp"/>
			<p class="lead center animated fadeInDown"><small>Samurai says:</small> Patience is bitter, but its fruit is sweet.</p>
		</div>
	</div>
<% end %>