<h1>New category</h1>

<%= form_for [:admin, @category], :html => { :class => "" } do |f| -%>

  <%= f.error_messages %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  </br>

  <%= f.submit "Create", :class => "btn btn-primary span2" %>

<% end -%>
